<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <title>爬爬系统</title>
  <link rel='stylesheet' href='stylesheets/lib/normalize.min.css' />
  <link rel='stylesheet' href='stylesheets/lib/webuploader.css' />
  <link rel='stylesheet' href='stylesheets/lib/element/element.ui.min.css' />
  <link rel='stylesheet' href='stylesheets/home.min.css?[[version]]' />
  <script type="text/javascript">
  var GLOBAL={
      version: '[[version]]'
  };
  </script>
  <script type="text/javascript" data-main="/javascripts/main/requireConf.js?[[version]]"
          src="/javascripts/lib/requireJS/requireJS.js"></script>
  <style media="screen">
    @media only screen and (max-width:767px){.hidden-xs-only{display:none!important}}@media only screen and (min-width:768px){.hidden-small-and-up{display:none!important}}@media only screen and (min-width:768px) and (max-width:991px){.hidden-sm-only{display:none!important}}@media only screen and (max-width:991px){.hidden-sm-and-down{display:none!important}}@media only screen and (min-width:992px){.hidden-md-and-up{display:none!important}}@media only screen and (min-width:992px) and (max-width:1199px){.hidden-md-only{display:none!important}}@media only screen and (max-width:1199px){.hidden-md-and-down{display:none!important}}@media only screen and (min-width:1200px){.hidden-lg-and-up{display:none!important}}@media only screen and (min-width:1200px) and (max-width:1919px){.hidden-lg-only{display:none!important}}@media only screen and (max-width:1919px){.hidden-lg-and-down{display:none!important}}@media only screen and (min-width:1920px){.hidden-xl-only{display:none!important}}

    .fade-enter-active, .fade-leave-active{
        transition: all .15s ease;
    }
    .fade-enter, .fade-leave-active{
      transform: translateX(5px);
      opacity: 0;
    }
  </style>
</head>
<body>

<div id="app">
  <!-- 菜单 -->
  <keep-alive>
    <home-menu></home-menu>
  </keep-alive>
  
  <transition name="fade" mode="out-in">
          <router-view></router-view>
  </transition>

</div>

</body>
</html>
