@import '../../../global/base';

.content-mailEdit{
/*上传按钮*/
.webuploader-container{position:relative; display: grid;}
.webuploader-element-invisible{position:absolute!important;clip:rect(1px 1px 1px 1px);clip:rect(1px,1px,1px,1px)}
.webuploader-pick{position:relative;display:inline-block;cursor:pointer;background:#1fb9ff;padding:10px 15px;color:#fff;text-align:center;border-radius:3px;overflow:hidden}
.webuploader-pick-hover{background:#00a2d4}.webuploader-pick-disable{opacity:.6;pointer-events:none}

.btns-panel{
  li{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
  }
}
.item{
  margin-right: 60px;
}




}
